<%- include('../partials/header') %>
<h2>Views Matches Index Page</h2>
<table>
  <thread>
    <tr>
      <th>Team<br>Name</th>
      <th>Home<br>or<br> Away</th>
      <th>Game<br>Location</th>
      <th>Stadium</th>
      <th>Opponent<br>Record</th>
      <th>Result</th>
    </tr>
  </thread>
  <tbody>
    <% matches.forEach(function(m) { %>

      <tr>
        <td><%= m.teamName %></td>
        <td><%= m.homeOrAway %></td>
        <td><%= m.location %></td>
        <td><%= m.stadium %></td>
        <td><%= m.record %></td>
        <td><%= m.result %></td>
        <td><a href="/matches/<%= m._id %>">Game Information</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>