<%- include('../partials/header') %>


<section id="show-page">
  <div>Team Name: </div>
  <div><%= match.teamName %></div>
  <div>Home or Away: </div>
  <div><%= match.homeOrAway %></div>
  <div>Game Location: </div>
  <div><%= match.location %></div>
  <div>Stadium: </div>
  <div><%= match.stadium %></div>
  <div>Opponent Record: </div>
  <div><%= match.record %></div>
  <div>Result: </div>
  <div><%= match.result %></div>
</section>

<%- include('../partials/footer') %>